.grid-wrapper {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px auto;
  grid-template-areas:
    ". team1"
    "team2 grid";
  width: 99vw;
  /* height: 99vw; */
}

.grid {
  table-layout: fixed;
  /* border-collapse: collapse; */
  grid-area: grid;
  width: 100%;
  height: 100%;
}

.grid td {
  padding: 0;
}

.team1 {
  text-align: center;
  grid-area: team1;
  text-transform: uppercase;
  font-weight: bold;
}

.team2 {
  text-align: center;
  grid-area: team2;
  text-transform: uppercase;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.square-button {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
}

.claimed-self {
  background-color: lightgreen;
}

.claimed-other {
  background-color: lightsteelblue;
}

.winner {
  background-color: mediumvioletred;
}

.header {
  padding: 5px;
  /* border: 1px solid red; */
  font-weight: bold;
}
