form {
  display: flex;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: white;
  flex-direction: column;
  border-radius: 15px;
}

label {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

input {
  background-color: hsla(0, 0%, 96%, 1);
  border-radius: 45px;
  box-shadow: inset 0px 1px 2px hsla(0, 0%, 0%, 0.25);
}

.login-action-wrapper {
  display: flex;
  justify-content: space-around;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
}
